@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
#experiance{
  .row {
    font-family: "Roboto", sans-serif;
    .col-md-12 {
      .head {
        font-size: 20px;
        font-weight: 600;
      }
      .para {
        color: #0779e4;
        font-weight: 500;
        font-size: 13px;
      }
      .line {
          line-height: 1.8;
          color: #999999;
          font-weight: 400;
          font-size: 16px;
      }
    }
  }
}
