@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
#pricing{
background-color: #f7f7f7;
overflow: hidden;
margin: 0px;

.container{
    font-family: 'Roboto', sans-serif;
    .para{
        font-size: 16px;
        color: #0779e4;
        font-weight: 700;
    }
    .head{
        font-size: 40px;
        font-weight: 600;
    }
    .card{
        border: none;
        .card-title{
            font-size: 14px;
            margin-bottom: 0;
            color: #0779e4;
           text-transform: uppercase;
           letter-spacing: 1px;
            font-weight: 800;
        }
        .price{
            color: #0779e4;
            span{
                margin-right: 3px;
                padding-top: 3px;
                font-size: 24px;
                font-weight: 400;
            }
            h1{
                font-size: 50px;
                font-weight: 600;
            }
        }
        .card-text{
            font-size: 16px;
            line-height: 1.8;
            font-weight: 400;
            color: #999999;
        }
        .btn{
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
}
}

